# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Exclude staticfiles - will be generated on Render
staticfiles/

# Virtual environments
.env
.venv/
env/
venv/
ENV/

# Windows
Thumbs.db
Desktop.ini

# IDEs
.vscode/
.idea/

# Python
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo

# Celery
celerybeat-schedule
celerybeat.pid

# Git
.gitignore~
